////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////
$colorPrimary : #565EFF;
$colorSecondary : #C0CCDB;
$colorSuccess: #1DCC70;
$colorDanger : #ff2d55;
$colorWarning : #FFB400;
$colorInfo : #754AED;

$colorLine : #E5E9F2;

$colorHeading : #1B2C42;
$colorText : #8D95A0;


